@media print {
    * {
        color: black !important;
    }
    body {
        margin: 0;
        color: white !important;
        /* avoid black background if backgrounds are printed */
        background: initial;
    }
    .oe_leftbar,
    .oe_loading,
    .pos .pos-topheader, 
    .pos .pos-leftpane, 
    .pos .keyboard_frame,
    .pos .receipt-screen header,
    .pos .receipt-screen .top-content,
 
    .pos,
    .pos .pos-content,
    .pos .rightpane,
    .pos .screen, 
    .pos .window, 
    .pos .window .subwindow, 
    .pos .subwindow .subwindow-container{
        display: block;
        position: static;
        height: auto;
    }
    .pos{
        background: white !important;
    }
    .pos .rightpane {
        left: 0px !important;
        background-color: white;
    }
    .pos .receipt-screen {
        text-align: left;
    }
    .pos .receipt-screen .centered-content{
        position: static;
        border: none;
    }
    .pos .pos-receipt-container {
        text-align: left;
    }
    .pos-actionbar {
        display: none !important;
    }
    .debug-widget{
        display: none !important;
    }
    .pos *{
        text-shadow: none !important;
        box-shadow: none !important;
        background: transparent !important;
    }
    .pos .pos-sale-ticket{
        margin: 0;
        margin-left: auto !important;
        margin-right: auto !important;
        border: none !important;
        font-size: 13px !important;
        width: 266px !important;
    }
    .o_debug_manager {
        display: none !important;
    }
    .o_chat_window {
        display: none !important;
    }
}